House Sale Price Prediction:


https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python

In [0]:
#load packages
import sys

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp

import IPython
from IPython import display

import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

import seaborn as sns

#misc libraries
import random
import time

#ignore warnings
import warnings
warnings.filterwarnings('ignore')


# Read the dataset from GitHub
url_train='https://raw.githubusercontent.com/tabchokkalingam/datasets/master/house-prices-advanced-regression-techniques/train.csv'
url_test='https://raw.githubusercontent.com/tabchokkalingam/datasets/master/house-prices-advanced-regression-techniques/test.csv'

train_full_ds=pd.read_csv(url_train)
test_full_ds=pd.read_csv(url_test)
chods=train_full_ds.sample(10)

In [0]:
train_full_ds.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [0]:
#Select only the required Column.
f_cols=['LotArea','OverallQual', 'FullBath', 'YearBuilt']
p_cols=['SalePrice', 'LotArea','OverallQual', 'FullBath', 'YearBuilt']

trainds=train_full_ds[p_cols]
testds=test_full_ds[f_cols]

In [0]:
#scatterplot
sns.set()
sns.pairplot(trainds[p_cols], size = 2.5)
plt.show();

describe() - to see if there are 0 values. Min price must be >0.

Get the histogram to see,
*    Deviate from the normal distribution.
*    Have appreciable positive skewness.
*    Show peakedness.

In [0]:
trainds.describe()

           SalePrice        LotArea  OverallQual     FullBath    YearBuilt
count    1460.000000    1460.000000  1460.000000  1460.000000  1460.000000
mean   180921.195890   10516.828082     6.099315     1.565068  1971.267808
std     79442.502883    9981.264932     1.382997     0.550916    30.202904
min     34900.000000    1300.000000     1.000000     0.000000  1872.000000
25%    129975.000000    7553.500000     5.000000     1.000000  1954.000000
50%    163000.000000    9478.500000     6.000000     2.000000  1973.000000
75%    214000.000000   11601.500000     7.000000     2.000000  2000.000000
max    755000.000000  215245.000000    10.000000     3.000000  2010.000000

In [0]:
#Histogram - This gives the average max 'y' value. Here it is Avg Max SalePrice which is arnd 150000. 
plt.figure(figsize=(10,10))
plt.tight_layout()
sns.distplot(trainds['SalePrice'])

In [0]:
#Skewness and kurtosis
print("Skewness: %f" % trainds['SalePrice'].skew())
print("Kurtosis: %f" % trainds['SalePrice'].kurt())

In [0]:
#
X=trainds[f_cols].values
y=trainds['SalePrice'].values

#Splitting the test data - 80%-20%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
#Training the algorithm
regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Predicting with the model
y_pred = regressor.predict(X_test)


print('Printing Actual vs Predicted values of Top 10 rows')
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
print(df.head(10))
print('-'*20)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Printing Actual vs Predicted values of Top 10 rows
   Actual      Predicted
0  200624  235982.369260
1  133000  157355.128143
2  110000  119070.202011
3  192000  224491.812392
4   88000  153161.824666
5   85000  110846.177332
6  282922  274788.247584
7  141000  155845.910328
8  745000  368616.848773
9  148800  223593.414235
--------------------
Mean Absolute Error: 30170.51082439427
Mean Squared Error: 2301829179.7202635
Root Mean Squared Error: 47977.38195983878

In [0]:
df1 = df.head(15)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

You can see that the value of root mean squared error is 4.19, which is more than 10% of the mean value of the percentages of all the temperature i.e. 22.41. This means that our algorithm was not very accurate but can still make reasonably good predictions.